<!DOCTYPE html>
<html>
 <head>
 <% include ./partials/head %>
 </head>
 <body>
   <header>
     <% include ./partials/header %>
   </header>
   <h1 class='center'>Match Play</h1>
   <hr />
   <div class='row'>
     <div class='col s12 m4'>
       <h3>Player Sign in</h3>
       <form action='/movies' method='post'>
         <input type='text' name='title' placeholder='Title' />
         <button class='btn btn-waves' type='submit'>Add</button>
       </form>
       <% var url = "/tennis/" + tennis.id + "?_method=DELETE" %>
       <tr>
         <td><%= tennis.title %></td>
         <td>
           <form method="POST" action=<%= url %>>
             <button class="btn red">Delete</button>
           </form>
        </td>
      </tr>
     </div>
     <table class='table col m8 s12'>
       <thead>
         <th>Name and Age</th>
         <th>Edit</th>
         <th>Delete</th>
       </thead>
        <% var url = "/tennis/" + tennis.id + "?_method=DELETE" %>
        <% var editUrl = "tennis/" + tennis.id + "/edit" %>
        <tr>
          <td><%= tennis.title %></td>
          <td>
            <a class="btn" href=<%= editUrl %>>Edit</a>
          </td>
       <tbody>
         <% tennis.forEach( function(tennis) { %>
           <tr>
             <td><%= tennis.title %></td>
         <% }); %>
       </tbody>
     </table>
   </body>
</html>